*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar{
    height: 60px;
    background-color: rgb(232, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

ul{
    display: flex;
    gap: 1.8rem;
}

li{
    text-decoration: none;
    font-weight: 600;
    list-style: none;
    padding: 20px 10px;

}

li a{
    text-decoration: none;
    color: aliceblue;
}

button {
    padding: 7px 20px;
    border-radius: 15px;
}


